{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Festival</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
					<select id="country_name" name="country_name" class="validate" required>
                        <option value="" disabled selected>Choose Country</option>
                        {% for country in countries %}
                            <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                        {% endfor %}
                    </select>
					<label for="country">Festival Country</label>
				</div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="festival_name" name="festival_name" minlength="2" maxlength="50"
                        type="text" class="validate" required>
                    <label for="festival_name">Festival Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="festival_location" placeholder="City hosting the festival" name="festival_location" minlength="2" maxlength="50"
                        type="text" class="validate" required>
                    <label for="festival_location">Festival Location</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix"></i>
                    <input id="festival_date" placeholder="Starting date" name="festival_date" type="text" class="datepicker validate" required>
                    <label for="festival_date">Festival Date</label>
                </div>
            </div>
			<div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="festival_djs" placeholder="List DJ's separated by comas" name="festival_djs" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="festival_djs">Festival Lineup</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}