{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit Festival</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_festival', festival_id=festival._id) }}">
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
					<select id="country_name" name="country_name" class="validate" required>
                        <option value="" disabled>Choose Country</option>
                        {% for country in countries %}
                            {% if country.country_name == festival.country_name %}
                                    <option value="{{ country.country_name }}" selected>{{ country.country_name }}</option>
                                {% else %}
                                    <option value="{{ country.country_name }}">{{ country.country_name }}</option>
                                {% endif %}
                        {% endfor %}
                    </select>
					<label for="country">Festival Country</label>
				</div>
			</div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="festival_name" name="festival_name" minlength="2" maxlength="50"
                        value="{{ festival.festival_name }}" type="text" class="validate" required>
                    <label for="festival_name">Festival Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="festival_location" placeholder="City hosting the festival" name="festival_location" minlength="2" maxlength="50"
                    value="{{ festival.festival_location }}"type="text" class="validate" required>
                    <label for="festival_location">Festival Location</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix"></i>
                    <input id="festival_dates" placeholder="Starting date" name="festival_dates" value="{{ festival.festival_dates }}" type="text" class="datepicker validate" required>
                    <label for="festival_date">Festival Date</label>
                </div>
            </div>
			<div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="festival_djs" placeholder="List DJ's separated by comas" name="festival_djs" minlength="3"
                        maxlength="300" class="materialize-textarea validate" required>
                        {{- festival.festival_location -}}
                    </textarea>
                    <label for="festival_djs">Festival Lineup</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('get_festivals') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large">
                        Edit Festival <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}