{% extends "base.html" %}
{% block content %}

    {% for festival in festivals %}
        {{ festival.festival_name }}<br>
        {{ festival.country_name }}<br>
        {{ festival.festival_dates }}<br>
        {{ festival.festival_djs }}<br>
    {% endfor %}



    <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="fas fa-caret-down"></i>First</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-caret-down"></i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-caret-down"></i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
                     

{% endblock %}